# SQLite database connection
DB_NAME="sqlite.db"
DB_ENGINE="sqlite"
AR_ALLOWED_HOSTS="127.0.0.1,localhost" # or "*" to allow all hosts.

# Postgres database connection
# DB_NAME="db_name"
# DB_HOST="localhost"
# DB_USER="db_user"
# DB_PWD="super_secret"
# DB_PORT=5432
# DB_ENGINE="postgresql"

